[submodule "limine"]
	path = limine
	url = https://github.com/limine-bootloader/limine.git
	branch = v4.x-branch-binary
	ignore = dirty
[submodule "kernel/lib/frigg"]
	path = kernel/lib/3rdparty/frigg
	url = https://github.com/davidtranhq/frigg
	branch = size-ssize
[submodule "kernel/lib/3rdparty/cxxshim"]
	path = kernel/lib/3rdparty/cxxshim
	url = https://github.com/managarm/cxxshim
